
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* base */

*{margin:0; padding:0; font-family:'Nanum Gothic','나눔고딕'; line-height:110%; text-decoration:none; letter-spacing:normal;}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0; margin:0;}

textarea {border:1px solid #f0f5f8; padding:5px;}

select {border: 1px solid #dbdbdb; height:25px;}

input, option, textarea {background-color:#fff; vertical-align:middle;}

img { border:0;}

div{overflow:visible;}



/* fieldset */

fieldset {padding:0; border:none;margin:0;}

fieldset legend {position:absolute; left:0; top:0; overflow:hidden; font-size:0; line-height:0; height:0;visibility:hidden;padding:0;margin:0;}

button {border:0; background:none; cursor:pointer; clear:both; margin:0; padding:0;}



form, fieldset {border:0;}

address, caption, em {font-weight:normal; font-style:normal;}





/*png*/

.png {_display:inline-block;}

.png img {_filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}

.png24 {tmp:expression(setPng24(this));}



/* list */

ul {list-style:none;}

ol {list-style:decimal; margin-left:25px;}

li {list-style:none; display:inline;}

li img {vertical-align:middle;}

.leftLi li {display:inline; float:left;}



/* heading */

hr {position:absolute; width:0; height:0; font-size:0; overflow:hidden; line-height:0;}

h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%;}

.h_none{display:none;}



h2 {color:#333; font-size:16px; font-weight:700;}

h3 {color:#007077; font-size:20px; font-weight:300;}

h4 {color:#FFF; font-size:16px; font-weight:700;}

h5 {color:#666;  font-size:11px; margin-bottom:5px;}



/* ifram */

iframe {margin: 0; padding: 0; border: none;}




/* clear */

.clear {clear:both;}



/* 숨김 */

.di_no {display:none;}

.vi_hid {visibility:hidden;}



/*align*/

.alignLeft {text-align:left;}

.alignRight {text-align:right;}

.alignCenter {text-align:center;}

.alignTop  { vertical-align:top; }

.alignMiddle *{ vertical-align:middle; } /*자식 요소의 수직 중앙정렬*/



/*float*/

.floatleft {float:left;}

.floatright {float:right;}

.floatnone {float:none;}





/* font-style */

.b {font-weight:700; }
.b300 {font-weight:300;}
.b500 {font-weight:500;}
.b600 {font-weight:600;}

.bnormal { font-weight:normal;}

.underline {text-decoration:underline; line-height:150%;}



.fnt11 { font-size:11px/*11px*/;}

.fnt10 { font-size:10px/*10px*/;}

.fnt12 { font-size:12px;}

.fnt13 { font-size:13px;}

.fnt13_5 { font-size:13.5px;}

.fnt14 { font-size:14px;}

.fnt15 { font-size:15px;}

.fnt16 { font-size:16px;}

.fnt18 { font-size:18px;}

.fnt20 { font-size:20px;}

.fnt25 { font-size:25px;}

.fnt30 { font-size:30px;}

.fnt35 { font-size:35px;}



.green {clear:both; color:#007067;}

.green2 {clear:both; color:#00a496;}



.navy{clear:both; color:#1f3853;}



.black000 {clear:both; color:#000000;}



.gray333 {clear:both; color:#333333;}

.gray666 {clear:both; color:#666666;}

.gray999 {clear:both; color:#999999;}

.grayb4b4 {clear:both; color:#b6c0c5;}

.grayd0d0 {clear:both; color:#d0d0d0;}

.gray_icon{color:#ced5da;}

.red {color:#ff441f;}





/* 백그라운드 컬러 */

.bg_green {background:#00a496;}
.bg_green2 {background:#e8f7f6;}

.bg_navy {background:#1f3853;}
.bg_gray {background:#eef4f8;}





/* 객체 width값 조정 */



.w100px {width:100px;}

.w110px {width:110px;}

.w120px {width:120px;}

.w127px {width:127px;}

.w130px {width:130px;}

.w150px {width:150px;}

.w200px {width:200px;}

.w250px {width:250px;}

.w300px {width:300px;}

.w350px {width:350px;}

.w400px {width:400px;}

.w500px {width:500px;}

.w100p {width:100%;}

.w50p {width:50%;}




/* LINE */

.h-seperate{
	height:6px;
	width:2px;
	margin:0px 10px 0px 10px;
	border-left:1px solid #e5e9ec;
	display:inline;
	position: relative;
    top: 2px;
}

.w-line {
	border-bottom:1px solid #e1e1e1;}




/*---------------------------------------------------------------------------------------------------------------------------



                                                  INPUT, BUTTON, LINE STYLE



-----------------------------------------------------------------------------------------------------------------------------*/



/* INPUT STYLE */



.input_w, .inp {
	padding:3px 3px 3px 5px;
	height:22px;
	border:1px solid #ced5da;
	color:#333;
	}
	
.inp:hover {
	border:1px solid #00a496;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:22px;
	color:#333;}


.input_w:hover {
	border:1px solid #00a496;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:22px;
	color:#333;}

.input_w_login {
	border:1px solid #FFF;
	padding:3px 3px 3px 5px;
	height:25px;
	border:1px solid #FFF;
	color:#555;
	font-weight:700;
	font-size:14px;
	}

.input_g {
	border:1px solid #f0f5f8;
	background:#f0f5f8;
	padding:3px 3px 3px 5px;
	height:25px;
	color:#555;}


.checkbox01 {vertical-align:middle;}
.checkbox01 input {border:1px solid #d8d8d8; border-left:0; border-top:0; margin:5px 5px 5px 0;}
.checkbox01 label {margin-right:10px;}

.radiobox01 {vertical-align:middle;}
.radiobox01 input { border-left:0; border-top:0; margin:5px 5px 5px 0;}
.radiobox01 label {margin-right:10px;}


.input_date input {
	border:1px solid #ced5da;
	background:#FFF;
	padding:3px;
	height:20px;
	width:120px;
	color:#333;
	font-size:12px;
	font-weight:700;
	text-align:center;}

.input_date input:hover, .input_date input:focus, .input_date input:active {
	border:1px solid #ced5da;
	background:#f0f5f8;
	padding:3px;
	height:20px;
	width:120px;
	color:#333;
	font-size:12px;
	font-weight:700;
	text-align:center;}



/* 라디오박스 */

input[type=radio].css-radio {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
	}

input[type=radio].css-radio + label.css-label {
	padding-left:20px;
	height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	}

input[type=radio].css-radio:checked + label.css-label {
	background-position: 0 -17px;
	}
						
.css-label{ background-image:url(../images/common/btn/checkbox_img2.png); }



/* 찾아보기 */

.file_style01 {
	background:#e9eff2;
	padding:20px;
	position:relative;
	}
.file_wrap {
	width:400px;
	height:31px;
	position:relative;
	}
.file_text {
	float:left;
	width:300px;
	height:22px;
	border:1px solid #c9cfd3;
	background:#ffffff;
	color:#777;
	padding:3px;
	}
.file_btn {
	display:inline-block;
	width:84px;
	height:30px;
	color:#FFF;
	background:url(../images/common/btn/btn_file.png) 0 0 no-repeat;
	cursor:pointer;
	position:absolute;
	top:0px;
	left:315px;
	z-index:99;
	}
.file_add {
	filter:alpha(opacity=0);
	opacity:0;
	width:84px;
	height:31px;
	z-index:90;
	cursor:pointer;
	}
.file_img{
	padding:20px;
	border:1px solid #f0f5f8;
	text-align:center;
	cursor:pointer;
	}



.file_style02 {
	background:#FFF;
	position:relative;
	}
.file_style02 .file_text {
	float:left;
	width:410px;
	height:22px;
	border:1px solid #e5e9ec;
	background:#e5e9ec;
	padding:3px;
	color:#666;
	font-size:11px;
	}
.file_style02 .file_btn {
	display:inline-block;
	width:84px;
	height:30px;
	color:#FFF;
	background:url(../images/common/btn/btn_file.png) 0 0 no-repeat;
	cursor:pointer;
	position:absolute;
	top:0px;
	left:410px;
	z-index:99;
	cursor:pointer;
	}

/* SELECT STYLE */


.select01 select {
    border: 1px solid #ced5da; 
    height:23px; 
	padding:3px;
	font-size:12px;
	}

.select01 input {
	border: 1px solid #e5e9ec; 
	height:30px; 
	padding:3px;
	}


.select03 {
    border: 1px solid #ced5da; 
    height:28px; 
	padding:3px;
	font-size:12px;
	}


/* textarea */

.textarea01{border:1px solid #ced5da; padding:5px; line-height:16px}



/* BUTTON STYLE */



.btn {

    display: inline-block;
    padding: 7px 8px;
    margin-bottom: 0;
    font-size: 13px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #d1dade;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;

}

.btn2 {

    display: inline-block;
    padding: 5px 8px;
    margin: 0;
    font-size: 12px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #d1dade;
	background-image:none !important;
	border: none;
	text-shadow: none;
	box-shadow:none;

}




.btn:focus {outline:none;}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {background-color: #c1cace;}

.btn-cons {min-width: 100px;}



.btn-green{background-color:#00a496; color: #fff; font-weight:700; border:1px solid #008a7e;}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .btn-green.disabled, .btn-green[disabled] {background-color: #0b9c8f; border:1px solid #008a7e;}



.btn-navy{background-color:#404857; color: #fff; font-weight:700; border:1px solid #22262e; letter-spacing:normal;}

.btn-navy:hover, .btn-navy:focus, .btn-navy:active, .btn-navy.active, .btn-navy.disabled, .btn-navy[disabled] {background-color: #2e3441; border:1px solid #000;}


.btn-white{background-color:#f4f4f4; color: #5e5e5e; font-weight:700; border:1px solid #d0d0d0;}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {background-color: #f4f4f4; color: #000; border:1px solid #b4b9be;}


.btn-gray{background-color:#777777; color: #FFF; font-weight:700; border:1px solid #444;}

.btn-gray:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {background-color: #444; border:1px solid #555;}

/*게시판 아이콘 색상*/

.icon {
      font-size:11px;
	  color:#666;
	  font-weight:700;}

.bt_modify {padding:4px 8px; border:1px solid #cbd1d4;}
.bt_modify:hover {padding:4px 8px; border:1px solid #b4bdc4; color:#333;}

.bt_copy {padding:4px 8px; border:1px solid #cbd1d4;}
.bt_copy:hover {padding:4px 8px; border:1px solid #b4bdc4; color:#333;}

.bt_delete {padding:4px 8px; border:1px solid #cbd1d4;}
.bt_delete:hover {padding:4px 8px; border:1px solid #b4bdc4; color:#333;}

.bt_view {padding:4px 8px; border:1px solid #cbd1d4;}
.bt_view:hover {padding:4px 8px; border:1px solid #b4bdc4; color:#333;}

/*.bt_modify{background-color:#404857; padding:4px 15px;}

.bt_copy{background-color:#8f9ba9; padding:4px 15px;}

.bt_delete{background-color:#686f7c; padding:4px 15px;}

.bt_view{background-color:#8f9ba9; padding:4px 15px;}*/




/* 등록페이지 버튼색상 */


.bt_20px{min-width: 100px; height:20px; font-size:11px;}











/*---------------------------------------------------------------------------------------------------------------------------

                                                          BASIC

-----------------------------------------------------------------------------------------------------------------------------*/


div {margin:0; padding: 0;}

html, body {padding: 0; margin:0; }

body {background:url('../images/left_bg.gif') repeat-y #e5e9ec;}


/*---------------------------------------------------------------------------------------------------------------------------

                                                          COPY

-----------------------------------------------------------------------------------------------------------------------------*/


#copyarea { float:left; clear:both; color:#343841; font-size:10px; font-weight:700; padding:20px 0px 10px 10px;}
.copy{border-left:4px solid #0aa699; padding:0px 0px 2px 10px;}


/*---------------------------------------------------------------------------------------------------------------------------

                                                          LOGIN

-----------------------------------------------------------------------------------------------------------------------------*/



#login_cont{margin:0 auto;width:700px;}

#login {padding-top:30%;}

#login .login_logo { float:left; width:296; padding:30px; border-right:1px solid #cdd3d9;}
#login .idpw {font-size:14px; font-weight:700; color:#b0b8c0;}
#login .login_form { float:left; width:; margin-left:30px; padding:0px;}







/*---------------------------------------------------------------------------------------------------------------------------

                                                          MAIN

-----------------------------------------------------------------------------------------------------------------------------*/


#wrapper {width:100%; height: 100%;}



/* 상단 */

#header {width: 100%; height: 105px; background:#22262e;}

#header .logo{background:#22262e; width:170px; padding:12px 0px 12px 30px;}

#header .bt_menu { background:#404857; width:100%; height:45px;}

#header .bt_menu_area {width:1024px; height:45px;}

#header .top_menu {width:824px; height:25px; color:#ced5da !important; display:inline-block; padding-top:20px;}

#header .top_menu a {font-family:FontAwesome; color:#8b91a0 !important; display:inline-block; padding-bottom:5px;}

#header .top_menu a:hover {font-family:FontAwesome; color:#FFFFFF !important; display:inline-block; padding-bottom:5px;}

#header .top_menu li {background:url('../images/line2.gif'); background-position:left; background-repeat:repeat-y;padding:0px 20px 0px 20px;}

/*
#header .top_menu li {background:url('../images/line.gif'); background-position:left; background-repeat:repeat-y;padding:12px 18px 15px 18px;}
#header .top_menu li .first {background:url('../images/line.gif'); background-position:left; background-repeat:repeat-y; padding:12px 18px 15px 1px;}
*/


#header .top_menu .none {border-left:none;}

#header h1 a {
	font-family:'Nanum Gothic';
	color:#8b91a0; 
	text-decoration:none; 
	display:block; 
	background:#1b1e24; 
	width:130px; 
	padding:0px 25px 0px 25px; 
	height:44px; 
	line-height:44px; 
	font-weight:700; 
	font-size:14px;
	vertical-align:middle;
	border-bottom:1px solid #000000;}

#header h1 a:hover,#navbar li.active h1 a {
	font-family:'Nanum Gothic';
	color:#FFF; 
	text-decoration:none;
	font-weight:700;
	display:block;
	background:#1b1e24;
	width:130px;
	padding:0px 25px 0px 25px; 
	height:44px; 
	line-height:44px; 
	font-size:14px;
	vertical-align:middle;
	border-bottom:1px solid #000000;}



/* 레프트 네비게이션 */

#navbar {width: 180px; height:100%; float: left; background:#1b1e24; z-index:3;}

#navbar h1 a {
	font-family:'Nanum Gothic';
	color:#8b91a0; 
	text-decoration:none; 
	display:block; 
	background:#1b1e24; 
	width:130px; 
	padding:0px 25px 0px 25px; 
	height:43px; 
	line-height:43px; 
	font-weight:700; 
	font-size:14px;
	vertical-align:middle;
	border-top:1px solid #2e3238;
	border-bottom:1px solid #000000;}

#navbar .h1_none {border-top:none;}

#navbar h1 a:hover,#navbar li.active h1 a {
	font-family:'Nanum Gothic';
	color:#FFF; 
	text-decoration:none;
	font-weight:700;
	display:block;
	background:#1b1e24;
	width:130px;
	padding:0px 25px 0px 25px; 
	height:43px; 
	line-height:43px; 
	font-size:14px;
	vertical-align:middle;
	border-top:1px solid #2e3238;
	border-bottom:1px solid #000000;}

#navbar h1 .active a {
	font-family:'Nanum Gothic';
	color:#FFF;
	text-decoration:none;
	font-weight:700;
	display:block;
	background:#1b1e24;
	width:150px;
	padding:25px;}

#navbar .sub-menu {color:#8b91a0;}

#navbar .sub-menu li{display:block; background:#22262e;}

#navbar .sub-menu a{display:block; font-size:11px; text-decoration:none; color:#8b91a0; padding:10px 0px 10px 30px;}

#navbar .sub-menu a:hover{display:block; font-size:11px; text-decoration:none; color:#fff;font-weight:700; background:#0aa699; padding:10px 0px 10px 30px;}



/* 서브 영역 */

#contents {position:relative; float:left; width:844px ; height:100%; padding:0; margin:0;}

#sub_page{position:relative; margin:0px; padding:30px 30px 30px 30px;; height:100%;  background:#FFF;}

.space {width:100%;height:30px;overflow:hidden}

.sub_tit{padding:0 0 15px 0;}



/*---------------------------------------------------------------------------------------------------------------------------

                                                                               DASH BOARD

-----------------------------------------------------------------------------------------------------------------------------*/


#dashboard {position:relative; float:left; width:844px ; height:100%; background:#FFF; }

.dashboard_page{position:relative; padding:20px; height:100%}

/* 신규회원 */
.ds_member {position:relative; width:382px; padding:20px 0px 20px 0px; float:left; margin-right:40px; background:#FFF; }

.ds_member .ds_member_area {background:#FFF;  }

/* 신규게시물 */
.ds_board {position:relative; width:382px; padding:20px 0px 20px 0px; float:left; background:#FFF; } 

.ds_board .ds_board_area {background:#FFF;}

/* 최근회원가입수 */
.ds_join {position:relative; width:804px; padding:20px 0px 20px 0px; float:left; margin-right:20px; background:#FFF; } 

.ds_join .ds_join_area {background:#FFF; position:relative;}

/* 최근방문자수 */
.ds_guest {position:relative; width:804px; padding:20px 0px 20px 0px; float:left; overflow:visible; background:#FFF; } 

.ds_guest .ds_guest_area {background:#FFF; }


/* 그래프 */

.chart_area {border-top:3px solid #0aa699; width:100%; height:250px;}

/* Vertical Bar Graph */

.vGraph {
	width:554px;
	height:250px;
	float:left;
	}
.vGraph ul{
	margin:0;
	padding:0;
	height:219px;
	border-bottom:1px solid #b0b0b0;
	font-size:11px;
	list-style:none;
	}
.vGraph ul:after{
	content:"";
	display:block;
	clear:both;
	}
.vGraph li {
	float:left;
	display:inline;
	width:20px;
	height:199px;
	margin:0 6%;
	position:relative;
	text-align:center;
	white-space:nowrap;
	background:#e9eff2;
	border-bottom:1px solid #b0b0b0;
	padding-top:20px;
	text-align:center;
	}
.vGraph .gTerm {
	position:relative;
	display:inline-block;
	width:100%;
	height:20px;
	margin:0 -100% -20px 0;
	padding:200px 0 0 0;
	vertical-align:bottom;
	color:#767676;
	text-align:center;
	}
.vGraph .gBar {
	position:relative;
	display:inline-block;
	width:20px;
	margin:0 0 0 0;
	border-bottom:0;
	background:#0a9e91;
	vertical-align:bottom;
	}
.vGraph li .count {
	position:absolute;
	width:30px;
	height:20px;
	top:0px;
	left:-5px;
	color:#767676;
	background:#FFF;
	height:20px;
	font-size:10px;
	line-height:20px;
	vertical-align:middle;
	}

.vGraph li .today { color:#F00; font-weight:700;}

.vGraph li .day {position:absolute; top:0; left:0;}


.vTable {width:250px; height:250px; float:right;}


/*---------------------------------------------------------------------------------------------------------------------------

                                                                               SUB TITLE STYIE

-----------------------------------------------------------------------------------------------------------------------------*/



.report_tit {
	border-bottom:1px solid #e8edf1;
	margin:0px;
	padding:20px 0px 20px 0px;}
	
.report_tit_none {
	padding:20px 0px 20px 0px;}


.subpage_tit {
	border-bottom:1px solid #e8edf1;
	margin:0px;
	padding:20px 0px 20px 0px;}
	
.subpage_tit_none {
	padding:20px 0px 20px 0px;}


.subpage_tit02 {
	border-bottom:1px solid #e8edf1;
	margin:0px;
	padding:0px 0px 20px 0px;}
	
.subpage_tit02_none {
	padding:0px 0px 0px 0px;}




/*---------------------------------------------------------------------------------------------------------------------------

                                                                            TABLE STYIE

-----------------------------------------------------------------------------------------------------------------------------*/








.bbsh3 {padding:20px 0 3px 0}





/*  기본테이블 */



.table {width:100%; font-family:'Nanum Gothic'; border-bottom: 2px solid #e8edf1;}

.table th {border-bottom:3px solid #0aa699; border-top:1px solid #0aa699; font-size:13px; color:#000; height:40px; background:#FFF;}



.title_stlye1{border-bottom:3px solid #0aa699; border-top:1px solid #e8edf1; font-size:13px; color:#007077; height:45px;}

.title_stlye2{border-top:3px solid #0aa699; border-bottom:1px solid #e8edf1; font-size:13px; color:#007077;}



.table tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {

	background-color:#f9fbfc;

	border:none;

}



.table td{

	text-align:center;

	vertical-align: middle;

	color:#666;

	height:50px;

	font-size:12px;

	text-decoration:none;

}



.table td a {color:#666; text-decoration:none;}

.table td a:hover {color:#000; text-decoration:none; }

.table td .no-border {border:none;}

.table .last-child {border-bottom: 1px solid #e8edf1;}



/* 테이블 하단 */



.table-section{

	margin:0px;

	width:"100%";

}

	

.table-section li{

  display: inline-block;

  margin: 0;

  font-size: 14px;



}

/* 게시판 하단 */



.board_search {

	float:left;
	width:100%;
	border-top:1px solid #CCC;
	margin:20px 0;
	padding:30px;

	}



/* 게시판 리스트 버튼 */



.btn-group button {

	padding:0px; margin:0px; font-size:12px; color:#5e5e5e; vertical-align:middle;}

	

.btn-group .list_bt {
	background:#FFF; 
	border-top:1px solid #e5e9ec;
	border-right:1px solid #e5e9ec;
	border-bottom:1px solid #e5e9ec;
	padding:8px 10px;}

	

.btn-group .list_bt:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled]{
	background:#ecf0f2; 
	border-top:1px solid #e5e9ec;
	border-right:1px solid #e5e9ec;
	border-bottom:1px solid #e5e9ec; 
	padding:8px 10px;
	font-weight:700;}

	

.btn-group .list_bt_first {
	background:#FFF; border:1px solid #e5e9ec; 
	padding:8px 10px; 
}

	

.btn-group .list_bt_first:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
	background:#ecf0f2; 
	border:1px solid #e5e9ec; 
	padding:8px 10px; 
	font-weight:700;}

	

.btn-group .list_bt_last {
	background:#FFF; 
	border-top:1px solid #e5e9ec;
	border-right:1px solid #e5e9ec;
	border-bottom:1px solid #e5e9ec; 
	padding:8px 10px; 
	}

	

.btn-group .list_bt_last:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
	background:#ecf0f2; 
    border-top:1px solid #e5e9ec;
	border-right:1px solid #e5e9ec;
	border-bottom:1px solid #e5e9ec;  
	padding:8px 10px; 
	font-weight:700;}

	

/* 게시판 검색 */



.select02 select {

	border: 1px solid #d0d0d0; 
	height:28px; 
	padding:3px;
	}



.search_br {

	border-top:1px solid #d0d0d0;
	border-right:none;
	border-left:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	width:250px; 
	height:20px; 
	padding:3px;
	color:#333;
	font-weight:300;}

	

.search_bt {

	border-top:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
	height:28px; 
	padding:3px 10px 3px 10px;

	}



.search_bt i {color:#444444;}

/* 엑셀 저장 버튼 */

.btn_excel  { 

    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 0;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	border:1px solid #d0d0d0;
	font-size: 11px;
	font-weight:700;
	}



/* 입력 테이블 */



.table_list{padding:0px;}


.table_list_top a{color:#666; font-weight:700;}

.table_list_top a:hover{color:#007077; font-weight:700;}





/* 입력 테이블 - 테이블 스타일 */



.table_write {width:100%; font-family:'Nanum Gothic';  border-top:1px solid #0aa699; border-bottom:1px solid #ecf0f2;}

.table_write th{
	color:#000;
	font-size:12px;
	width:30%;
	text-align:left;
	padding:0px 0px 0px 0px;
	background:#f9fbfc;
	border-bottom:1px solid #e4e8e9 ;
	text-align:center;
}

.table_write td{
	color:#333;
	font-size:11px;
	padding:10px 0px 10px 20px;
	height:25px;
	border-bottom:1px solid #ecf0f2;
}


.table_write .last_line {border-bottom:2px solid #ecf0f2}



.table_write td p {padding-top:5px}


.table_write2 {width:100%; font-family:'Nanum Gothic';  border-top:1px solid #0aa699; border-bottom:1px solid #ecf0f2;}

.table_write2 th{
	color:#000;
	font-size:12px;
	width:20%;
	text-align:left;
	padding:0px 0px 0px 0px;
	background:#f9fbfc;
	border-bottom:1px solid #e4e8e9 ;
	text-align:center;
}

.table_write2 td{
	color:#333;
	font-size:11px;
	padding:10px 0px 10px 20px;
	height:25px;
	border-bottom:1px solid #ecf0f2;
}


.table_write2 .last_line {border-bottom:2px solid #ecf0f2}



/* 입력 테이블 - 컨텐츠 테이블 스타일 */



.table_write_t{width:100%; font-family:'Nanum Gothic';}

.table_write_t th{

	color:#000;
	font-size:12px;
	height:20px;
    width:50px;
	text-align:left;
    background:#FFF;
    border:0;
}



.table_write_t td{

	color:#333;
	padding:5px;
	height:15px;
	width:100px;
	font-size:12px;
    background:#FFF;
    border:0;

}






/* 통계분석 게시판 스타일 */


.table_report {width:100%; font-family:'Nanum Gothic';}

.table_report th{
	color:#000;
	font-size:12px;
	height:35px;
	text-align:left;
	border-bottom:1px solid #ecf0f2;
	background:#f9fbfc;
	text-align:center;
}

.table_report td{
	color:#666;
	height:30px;
	font-size:12px;
	border-bottom:1px solid #ecf0f2;
	text-align:center;
}

.table_report .line td {border-bottom:3px solid #0aa699;}



/* 대쉬보드 게시판 스타일 */




.ds_table {width:100%; font-family:'Nanum Gothic'; border-bottom: 2px solid #e8edf1;}
.ds_table th {border-bottom:3px solid #0aa699; border-top:1px solid #0aa699; font-size:12px; color:#333; height:40px;}

.ds_table tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
	background-color:#f9fbfc;
	border:none;

}


.ds_table td{
	text-align:center;
	vertical-align: middle;
	color:#999;
	height:40px;
	font-size:11px;
	text-decoration:none;
}


.ds_table td a {color:#666; text-decoration:none;}

.ds_table td a:hover {color:#000; text-decoration:none; font-weight:700;}

.ds_table td .no-border {border:none;}



.chart_table { width:100%; font-size:12px; height:220px; float:right; border-spacing:0; border-collapse:0;}
.chart_table  th { background:#f9fbfc; text-align:center; width:40%; font-size:12px; border-bottom:1px solid #d4dfe5;}
.chart_table  td {text-align:center; width:60%; font-size:12px; border-bottom:1px solid #d4dfe5;}
.chart_table  .last-child{text-align:center; width:60%; font-size:12px; border-bottom:1px solid #b0b0b0;}

.chart_table2 { width:100%; font-size:12px;float:right; border-spacing:0; border-collapse:0; border:1px solid #e8edf1; margin-top:20px;}
.chart_table2  th { background:#e9eff2; text-align:center; width:20%; font-size:12px; border-bottom:1px solid #e8edf1;  height:30px;}
.chart_table2  td {text-align:center; width:30%; font-size:12px; border-bottom:1px solid #e8edf1; height:30px;}




/* 테이블 단 나누기 */

.table_list_t{padding:20px 0px 20px 0px; margin:20px 0 0 0;}
.table_list_b{padding:20px 0px 20px 0px; border-bottom:1px #e8e8e9 solid;}
.table_list_n{padding:0px 0px 20px 0px; }





/*---------------------------------------------------------------------------------------------------------------------------

                                                                          TABMENU STYIE

-----------------------------------------------------------------------------------------------------------------------------*/


/* 탭 메뉴 */
.tapmenu { height:45px; position:absolute; left:0; top:-32px ;z-index:1; color:#22262e;}
 
.tapmenu li {
	display:inline;
	margin:0;

}

.tapmenu a {
	padding:13px 20px 14px 20px;
	background:url('../images/line.gif');
	background-position:right;
	background-repeat:repeat-y;
	font-size:13px;
	color:#8b91a0;
	font-weight:700;
	}

.tapmenu a:hover, .tapmenu button:focus, .tapmenu button:active, .tapmenu .active {
	padding:10px 20px 15px 20px;
	border-top:4px solid #c9cfd3; 
	background:#FFF;
	font-size:13px;
	color:#22262e;
	font-weight:700;}



/*---------------------------------------------------------------------------------------------------------------------------

                                                                          LAYER POPUP STYIE

-----------------------------------------------------------------------------------------------------------------------------*/


/* 레이어창 스타일 */



.layer {
	background:#FFF;
	width:600px;
	position:absolute;top:50%; left:50%;margin:-200px 0 0 -300px;z-index:99999;
	display:none;
	border:1px solid #00a496;
}

.layer_tit {
    background:#00a496;
    padding:25px 15px 15px 15px;
	vertical-align:middle;
	color:#FFF;}	

.layer_tit i {color:#FFF;}

.layer_page {

	background:#FFF;
    padding:20px;
	font-size:12px;}

.layer_page .layer_table {
	width:100%;
	border:0px;}

.layer_page .layer_table {border:1px solid #e4e8e9 ; border-spacing:0; border-collapse: collapse;}

.layer_page .layer_table th { padding:10px 0px 10px 10px; text-align:center; width:25%; background:#f9fbfc; border-bottom:1px solid #e4e8e9 ; font-size:12px;}

.layer_page .layer_table td {padding:10px 0px 10px 10px; border-bottom:1px solid #e4e8e9 ;}






/*---------------------------------------------------------------------------------------------------------------------------

                                                                          MARGIN_PADDING

-----------------------------------------------------------------------------------------------------------------------------*/




/* MARGIN */



.no-margin {

  margin: 0px !important;

}



.margin-10 {margin:10px;}

.margin-20 {margin:20px;}



.m-t-5 {margin-top:5px;}

.m-t-10 {margin-top:10px;}

.m-t-15 {margin-top:15px;}

.m-t-20 {margin-top:20px;}

.m-t-25 {margin-top:25px;}

.m-t-30 {margin-top:30px;}

.m-t-35 {margin-top:35px;}

.m-t-40 {margin-top:40px;}

.m-t-45 {margin-top:45px;}

.m-t-50 {margin-top:50px;}

.m-t-55 {margin-top:55px;}

.m-t-60 {margin-top:60px;}



.m-b-5 {margin-bottom:5px;}

.m-b-10 {margin-bottom:10px;}

.m-b-15 {margin-bottom:15px;}

.m-b-20 {margin-bottom:20px;}

.m-b-25 {margin-bottom:25px;}

.m-b-30 {margin-bottom:30px;}

.m-b-35 {margin-bottom:35px;}

.m-b-40 {margin-bottom:40px;}

.m-b-45 {margin-bottom:45px;}

.m-b-50 {margin-bottom:50px;}

.m-b-55 {margin-bottom:55px;}

.m-b-60 {margin-bottom:60px;}



.m-l-5 {margin-left:5px;}

.m-l-10 {margin-left:10px;}

.m-l-15 {margin-left:15px;}

.m-l-20 {margin-left:20px;}

.m-l-25 {margin-left:25px;}

.m-l-30 {margin-left:30px;}

.m-l-35 {margin-left:35px;}

.m-l-40 {margin-left:40px;}

.m-l-43 {margin-left:43px;}

.m-l-45 {margin-left:45px;}

.m-l-50 {margin-left:50px;}

.m-l-55 {margin-left:55px;}

.m-l-60 {margin-left:60px;}



.m-r-5 {margin-right:5px;}

.m-r-10 {margin-right:10px;}

.m-r-15 {margin-right:15px;}

.m-r-20 {margin-right:20px;}

.m-r-25 {margin-right:25px;}

.m-r-30 {margin-right:30px;}

.m-r-35 {margin-right:35px;}

.m-r-40 {margin-right:40px;}


.m-r-45 {margin-right:45px;}

.m-r-50 {margin-right:50px;}

.m-r-55 {margin-right:55px;}

.m-r-60 {margin-right:60px;}







/* PADDING */



.no-padding {

  padding: 0px !important;

}



.padding-10 {padding:10px;}

.padding-20 {padding:20px;}



.p-t-5{padding-top:5px;}

.p-t-10{padding-top:10px;}

.p-t-15{padding-top:15px;}

.p-t-20{padding-top:20px;}

.p-t-25{padding-top:25px;}

.p-t-30{padding-top:30px;}

.p-t-35{padding-top:35px;}

.p-t-40{padding-top:40px;}

.p-t-45{padding-top:45px;}

.p-t-50{padding-top:50px;}

.p-t-55{padding-top:55px;}

.p-t-60{padding-top:60px;}



.p-b-5{padding-bottom:5px;}

.p-b-10{padding-bottom:10px;}

.p-b-15{padding-bottom:15px;}

.p-b-20{padding-bottom:20px;}

.p-b-25{padding-bottom:25px;}

.p-b-30{padding-bottom:30px;}

.p-b-35{padding-bottom:35px;}

.p-b-40{padding-bottom:40px;}

.p-b-45{padding-bottom:45px;}

.p-b-50{padding-bottom:50px;}

.p-b-55{padding-bottom:55px;}

.p-b-60{padding-bottom:60px;}



.p-l-5{padding-left:5px;}

.p-l-10{padding-left:10px;}

.p-l-15{padding-left:15px;}

.p-l-20{padding-left:20px;}

.p-l-25{padding-left:25px;}

.p-l-30{padding-left:30px;}

.p-l-35{padding-left:35px;}

.p-l-40{padding-left:40px;}

.p-l-45{padding-left:45px;}

.p-l-50{padding-left:50px;}

.p-l-55{padding-left:55px;}

.p-l-60{padding-left:60px;}



.p-r-5{padding-right:5px;}

.p-r-10{padding-right:10px;}

.p-r-15{padding-right:15px;}

.p-r-20{padding-right:20px;}

.p-r-25{padding-right:25px;}

.p-r-30{padding-right:30px;}

.p-r-35{padding-right:35px;}

.p-r-40{padding-right:40px;}

.p-r-45{padding-right:45px;}

.p-r-50{padding-right:50px;}

.p-r-55{padding-right:55px;}

.p-r-60{padding-right:60px;}





/* 추가 */

.lmn_hover {font-family:'Nanum Gothic'; display:block; font-size:12px; text-decoration:none; color:#fff;font-weight:700; background:#0aa699; padding:15px 0px 15px 30px;color:#fff !important}